body {
    padding: 0vh 0vh 10vh 0vh;
    margin: 0%;
    min-height: calc(100vh - 10vh); 
    position: relative;  
}

/*-------------------------------------*/
/*Header*/
#top-header {
    background-color: #000;
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #top-header h1 {
        color: #fff;
        font-size: 48px;
        padding: 0%;
        margin: 0%;
    }
/*-------------------------------------*/
/*Flexbox do conteúdo*/
#flexbox-container {
    display: flex;
    flex-direction: row;
}
    /*Barra de navegação lateral*/
    #side-nav {
        margin: 10px;
        border: solid #000 3px;
        background-color: #bbb;
        position: relative;
    }
    
        .nav-category {
            margin: 0px;
            padding-bottom: 15px;
        }
        
        .nav-category hr {
            width: 75%;
        }
        
        .nav-category ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

        .nav-category li {
            position: relative;
            display: inline-grid;
            width: 100%;
        }
        
        .nav-category li:not(:last-child) {
            padding: 0px 0px 5px 0px;
        }
        
        .nav-category h3 {
            background-image: linear-gradient(60deg, #29f, #069, #29f);
            margin: 5px;
            border: solid #000 2px;
            padding: 0px 0px 0px 5px;
            color: #fff;
            text-align: center;
        }
        
        .nav-category a {
            margin: 0%;
            padding: 0%;
            color: #000;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            align-self: center;
            justify-self: center;
        }

    /*Área principal do conteúdo*/
    #main {
        margin: 10px;
        padding: 10px;
        border: solid #000 3px;
        background-color: #bbb;
        position: relative;
        flex-grow: 1;
        align-self: flex-start;
    }
        
        #main h1 {
            margin: 0%;
        }

        #main hr {
            width: 95%;
            margin-left: 0%;
        }

/*Footer*/
#footer {
    width: 100%;
    height: 10vh;
    position: absolute;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: #000;
}

    #decoration-bar-footer {
        height: 3px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0px;
    }

    #footer p {
        color: #fff;
        font-size: 24px;
    }

/*Large Desktop*/
@media only screen and (min-width: 1200px) {
    #flexbox-container {
        flex-wrap: nowrap;
    }

    #main {
        width: 90%;
    }

    #side-nav {
        width: 10%;
    }
}

/*Desktop*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #flexbox-container {
        flex-wrap: nowrap;
    }

    #main {
        width: 85%;
    }

    #side-nav {
        width: 15%;
    }
}

/*Tablet*/
@media only screen and (min-width:768px) and (max-width: 992px) {
    #flexbox-container {
        flex-wrap: nowrap;
    }

    #main {
        width: 80%;
    }

    #side-nav {
        width: 20%;
    }
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    #flexbox-container {
        flex-wrap: wrap;
    }

    #main {
        width: 95%;
    }

    #side-nav {
        width: 95%;
    }
}